#game {
    background-color: rgba(245, 231, 231, 0.9);
    border: solid pink 3px;
    border-radius:20px;
    box-shadow: 0 2rem 3.4rem 0 rgba(68, 18, 63, 0.8);
    display: grid;
    height: 80%;
    width: 65%; 
    position: relative;
  
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: .8fr 2fr 2fr 2fr;

    grid-template-areas: 
    "header header header"
    "nav main main"
    "nav main main"
    "nav main main"
}
#game>.header {
    grid-area: header;
    height:85%;
}
#game>.nav {
    grid-area: nav;
}
#game>.main {
    grid-area: main;
}
#game .timer-line{ 
    border:  rgb(176, 101, 99);
    width: 200px;
}
.timer {
    font-size: 30px;
    display: flex;
    font-family: 'Ms Madi', cursive;
    font-family: 'Permanent Marker', cursive;
  }
  #game h2 {
    color: black;
    opacity: .8;
    font-family: 'Ms Madi', cursive;
    font-family: 'Permanent Marker', cursive;
    overflow-wrap: break-word;
    font-size: 49px;
    margin: 1px;
    text-shadow: 1px 1px 1px #080707;
  }

@media screen and (max-width: 768px) {
    #game {
        min-width: 40rem;
        max-width: 40%;
    }
    /* .question   {
        font-size: 20px;
    } */
}

.choices-container {
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;;
}

.choice-container {
    background-color:#333;
    opacity: 80% ;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: 'IM Fell English', serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    width: 49%;
    height: 44%;
    margin: 1em auto;
}
#easy .choice-container {
    width: 49%;
    height: 53%;
}

.choice-text {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    min-width: 93%;
    min-height: 97%;;
    font-size: 2.0vw;
    overflow-wrap: break-word;
    -webkit-text-size-adjust: auto;
}
.choice-prefix {
    padding: 4px;
    opacity: 20%;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.correct {
    background-color: rgb(52, 209, 52);
}
.footer {
    border: solid black;
}
.header {
    text-align: center;
    padding: 10px 0; 
    font-size: 90px;
    font-family: 'IM Fell English', serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
}
.incorrect {
    background-color: rgb(197, 58, 58);
}
.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progressText {
    text-align: center;
}

#progressBar {
    width: 3rem;
    height: 10rem; 
    border: 0.3rem solid black;
    padding: 1px;
}

#progressBarFull {
    height: 0%;
    background-color: black;
    width: 2.9; 
}
.nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.nav .timer-line {
    border: rgb(176, 101, 99);
    width: 50%;
    height: 8px;
    background-color: rgb(176, 101, 99);
  }

.question-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 25%;
}

.question-container h2 {
    height: auto;
    text-align: center;
    align-items: center;;
}

.question{
    font-family: 'Ms Madi', cursive;
    font-family: 'Permanent Marker', cursive;
    overflow-wrap: break-word;
    font-size: 49px;
    margin: 1px;
}
.title {
    font-family: "Delius Swash Caps"; 
    font-size: 115px; 
    height: 100%;
    font-style: italic; 
    font-variant: small-caps; 
    font-weight: 700; 
    line-height: 50.6px;
}

