body {
  /* background-image: url("https://i.pinimg.com/564x/0c/db/19/0cdb19b1a720314093274f47e921f111.jpg"); */
  background: url("https://pbs.twimg.com/media/EUYZE8qXsAMnDaH.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: solid black;
}
 

/* buttons */
/* BUTTONS */
.btn {
  font-size: 1.05rem;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #81238d;
  margin-bottom: .8rem;
  color: #b929cf;
  background-color: white;
  opacity: .85;
  border-radius: 5px;
  height: 3rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(52, 9, 42, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

 /* main page */
 h2, h1, ul, span {
  font-family: 'Ms Madi', cursive;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 46px;
  text-shadow: 1px 1px 15px rgb(176, 101, 99);
}
.modal-box {
  background-color: rgba(245, 231, 231, 0.9);
  border-radius: 15px;
  height: 57%;
  width: 30%;
  text-align: center;
  box-shadow: 0 0.8rem 2.4rem 0 rgba(53, 7, 44, 0.5);
  position: relative;
  border: solid black;
}

.modal-box p {
  margin: auto;
  padding: 10px;
  line-height: 1.45;
  font-size: 22px;
  max-width: 82%;
  font-family: 'DeconStruct-LightOblique', sans-serif;
}

.modal-box .start-button #startBtn{
  border: solid black;
}

#intro-modal {
    /* display: none; */
}
#difficult-modal {
    display: none;
}

.difficulty-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/* end page */

.end-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end {
  text-align: center;
}


/* .timer {
  font-size: 30px;
  display: flex;
  font-family: 'Ms Madi', cursive;
  font-family: 'Permanent Marker', cursive;
}
#game h2 {
  color: black;
  opacity: .8;
  font-family: 'Ms Madi', cursive;
  font-family: 'Permanent Marker', cursive;
  overflow-wrap: break-word;
  font-size: 49px;
  margin: 1px;
  text-shadow: 1px 1px 1px #080707;
} */

.recent-score {
  font-size: 66px;
}

ul {
  color: rgb(247, 36, 96);
  text-shadow: 1px 1px 1px #080707;

}

/* Highscore page */
.endBtn {
  width: 10rem;
}
.hsBtn {
  color: black;
  width: 100vw;
}
#hsModal h1 {
  color: rgb(23, 6, 6);
  text-shadow: 1px 1px 1px #080707;
}
input {
  margin-bottom: 1rem;
  width: 17rem;
  font-size: 1.8rem;
  height: 2.3rem; 
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
} 
input::placeholder {
  color: #aaa; 
 } 
 .nameInput {
  width: 20rem;
  height: 1.8rem;
}
#saveScoreBtn {
  width: 15rem;
}

/* loseEnd page */
.h2background {
  background: rgb(225, 121, 152, .7);
  border-radius: 50px;
}